<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anton&family=Jaro:opsz@6..72&family=Yatra+One&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=edit_square" />
    <title>Home</title>
    <style>
        body{
            background-color: black;
            color: white;
            font-family: "Yatra One", serif;
            font-weight: 400;
            font-style: normal;
        }
        h1{
            color: white;
            font-size: 2em;
            text-align: center;
        }
        li{
            display: flex;
            align-items: center;
            justify-content: space-around;
            color: white;
            width: 95%;
            height: auto;
            background-color: rgb(36, 25, 7);
        }
        li a{
            text-decoration: none;
            color: white;
        }
    </style>
</head>
<body>
    <h1>Stories</h1>
    <ul>
        <% stories.forEach(story => { %>
            <li>
                <a href="/story/<%= story.id %>"><%= story.title %></a>
                <a href="/story/edit/<%= story.id %>"><span class="material-symbols-outlined">
                    edit_square
                    </span>
                </a>
            </li>
        <% }) %>
    </ul>
    <a href="/upload" class="upload-button">+</a>
</body>
</html>
